<turbo-frame id="formation-details">
    <div class="container my-4">
        <h1 class="mb-4 text-center">Formation Details</h1>
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{{ formation.title }}</h4>
            </div>
            <div class="card-body">
                <p>
                    <strong>Description:</strong>
                </p>
                <p class="text-muted">{{ formation.description ? formation.description : 'No description available' }}</p>

                <hr>

                <p>
                    <strong>Duration:</strong> {{ formation.duration }} hours
                </p>
                <p>
                    <strong>Start Date:</strong> {{ formation.startDate ? formation.startDate|date('d/m/Y') : 'Not specified' }}
                </p>
                <p>
                    <strong>End Date:</strong>
                    {{ formation.endDate ? formation.endDate|date('d/m/Y') : 'Not specified' }}
                </p>
                <div >
                    <a href="{{ path( 'formation_index' ) }}" class="btn btn-secondary">
                        Close
                    </a>
                </div>
            </div>

        </div>
    </div>
</turbo-frame>
